# Veliki data fajlovi (preko 100 MB)
trening+val.tar

# Dataset i podeljeni podaci
dataset/
train/
val/
test_dataset/

# Output folderi
runs/
training_logs/
validation_viz/
epoch_comparison/
inference_results/
test_results/

# Python cache
__pycache__/
*.pyc
